@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* reset CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{ text-decoration: none; color: #222;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
button{ cursor: pointer; outline: none; border: none;}
/* body font-fmaily를 상속받지 않는 태그들  */
button,input,textarea{font-family: 'Montserrat', sans-serif;}
body{
  background-color: rgb(238, 238, 238);
  margin: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form{
  background-color: white;
  /* border: 1px solid black; */
  height: 300px;
  width: 600px;
  padding: 25px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 5px rgb(194, 194, 194);
}
.login-form>h2{
  text-transform: capitalize;
  /* 이이런게 있엇어 소문자로 써도 앞글자 대문자화해주네!!! */
  margin-bottom: 20px;
  font-weight: 500;
}
.sns-login{
  width: 100%;
  display: flex;
}
.btn{
  display: flex;
  padding: 8px;
  color: white;
  border-radius: 3px;
  font-size: 12px;
  justify-content: center;
}

/* .btn:last-child(3)
이것만 오른쪽 마진 0으로 바꿔주면 됨*/

.btn.facebook{
  flex: 1;
  margin-right: 5px;
  background-color: #1877F2;
}
.btn.twitter{
  flex: 1;
  margin-right: 5px;
  background-color: #1DA1F2;
}
.btn.google{
  flex: 1;
  background-color: red;
}
i{
  padding: 2px;
  width: 15px;
  height: 10px;
}

.field{
  width: 100%;
  margin: 20px 0;
  display: flex;
}
.field>label{
  flex: 2;
}
.field input{
  flex: 8;
}

.sumbit-btn{
  display: flex;
  justify-content: end;
}


.btn-submit{
  border-radius: 3px;
  padding: 5px 40px;
  background-color: rgb(0, 102, 255);
  color: white;
  /* 위의 서밋 안하고 한개 속성(버튼 달랑 하나)만 아래 남겨우면 */
  /* float: right */
  /* 이걸로 정렬 가능 */
}

@media(max-width:600px){
  .login-form{
    width: 100%;
    height: auto;
  }
  .sns-login{
    flex-direction: column;
  }
  .btn{
    margin: 5px 0;
  }
  .btn.facebook{
    margin-right: 0px;
  }
  .btn.twitter{
    margin-right: 0px;
  }
  
  .field{
    flex-direction: column;
    margin: 5px 0;
  }
  .btn-submit{
    margin-top: 10px;
    width: 100%;
  }

}